body {
    color: brown;
    background: rgb(59, 5, 5);
    font-family: "Noto+Sans", sans-serif;
    margin: 0px;
    marggin: bottom 100px;
}

header {
    border: solid 2px rgb(75, 1, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(211, 28, 28);
}

.chamada {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 260px;
}

.categoria-videos img:hover {
    opacity: 2.0;
    border: 5px solid rgb(9, 40, 45);
}

.categoria h2 {
    color: rgb(3, 4, 65)
}